* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #009688 0, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
    overflow: hidden;
}

.container {
    width: 80%;
    height: 95vh;
    margin: 0 auto;
    margin-top: 2.5vh;
}
.user_box {
    width: 35%;
}
.user_box, .message_box {
    float: left;
    height: 100%;
}
.message_box {
    width: 65%;
    border-left: 1px solid #d6d6d6;
}
.user, .message_user, .write_message {
    width: 100%;
    height: 70px;
}
.user, .message_user {
    display: flex;
    justify-content: space-between;
    background-color: #eaeaea;
}
.item {
    width: 50%;
    display: flex;
    align-items: center;
}
.image_user {
    height: 80%;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 5px;
}
.image_user img {
    height: 100%;
}
.icons {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.icons i {
    margin: 0 10px;
    color: #b1b1b1;
}
.icons i, .bell i, .write_message i {
    font-size: 20px;
}
.serving {
    width: 100%;
    height: 80px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}
.bell {
    background-color: white;
    margin: 0 20px;
    padding: 15px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 90%;
}
.bell i {
    color: #8edafc;
}
.active_serving {
    font-size: 90%;
    color: #757575;
    text-decoration: underline;
    cursor: pointer;
}
.search {
    width: 100%;
    height: 45px;
    background-color: #fafafa;
}
.search_bar {
    width: 100%;
    height: 100%;
    line-height: 45px;
    padding: 5px;
}
.search label {
    width: 20%;
    height: 100%;
    padding: 0 20px;
    background-color: white;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}
.search label i {
    color: #b1b1b1;
}
.search input {
    width: 80%;
    height: 100%;
    padding: 0 5px;
    border-radius: 0 4px 4px 0;
}
.search input, .search label {
    border: 1px solid #f5f5f5;
    float: left;
}
.other_users {
    height: calc(100% - 195px);
    background-color: white;
}
.users_item {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-top: 1px solid #f5f5f5;
    cursor: pointer;
}
.users_item:hover {
    background-color: #f5f5f5;
}
.users_item > .username {
    align-self: flex-start;
    margin: 10px;
}
.last_access {
    font-size: 80%;
    color: #757575;
    margin-top: 3px;
}
.message_area {
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
    padding: 30px;
}
.speech_bubble {
    position: relative;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    position: relative;
}
.speech_bubble i {
    position: absolute;
    top: 15px;
    right: 10px;
    color: #b1b1b1;
    cursor: pointer;
    display: none;
}
.speech_bubble:hover i {
    display: block;
}
.received_message {
    background-color: white;
}
.sent_message {
    background-color: #d5f9ba;
    margin-left: 60%;
}
.date_hours {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 5px 5px 0;
    font-size: 70%;
    color: #b1b1b1;
}
.other_users, .message_area {
    width: 100%;
    overflow-y: scroll;
}
.write_message {
    background-color: #f3eeea;
    display: flex;
    align-items: center;
}
.write_message i {
    width: 10%;
    text-align: center;
    color: #6b7376;
}
.write_message input {
    width: 80%;
    height: 70%;
    padding: 0 10px;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
}
.users_item.active {
    background-color: #e9ebeb;
}