<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Boolzapp</title>
</head>
<body>
    <div id="root" class="container">
        <div class="user_box">
            <div class="user">
                <div class="item">
                    <div class="image_user">
                        <img src="img/avatar_io.jpg" alt="Andrea">
                    </div>
                    <div class="username">
                        <span>Andrea</span>
                    </div>
                </div>
                <div class="icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="serving">
                <div class="bell">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="bell_text">
                    <div class="get_serving">
                        Ricevi notifiche di nuovi messaggi
                    </div>
                    <div class="active_serving">
                        Attiva notifiche desktop
                    </div>
                </div>
            </div>
            <div class="search">
                <div class="search_bar">
                    <label for="search"><i class="fas fa-search"></i></label>
                    <input id="search" type="text" placeholder="Cerca o inizia nuova chat">
                </div>
            </div>
            <div class="other_users">
                <div @click="selectedItem(index)" v-for="(item, index) in contacts" class="users_item" :class="(activeItem.name == item.name) ? 'active' : null">
                    <div class="image_user">
                        <img :src="'img/avatar' + item.avatar + '.jpg'" :alt="item.name">
                    </div>
                    <div class="username">
                        <span>{{item.name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="message_box">
            <div class="message_user">
                <div class="item">
                    <div class="image_user">
                        <img :src="'img/avatar' + activeItem.avatar + '.jpg'" alt="">
                    </div>
                    <div class="user_info">
                        <div class="username">
                            <span>{{activeItem.name}}</span>
                        </div>
                        <div class="last_access">
                            Ultimo accesso oggi alle
                        </div>
                    </div>
                </div>
                <div class="icons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="message_area">
                <div v-for="(message, index) in activeMessages" class="speech_bubble" :class="activeMessages[index].status + '_message'">
                    <div class="message_text">
                        {{activeMessages[index].text}}
                    </div>
                    <div class="date_hours">
                        <span class="date">{{activeMessages[index].date}}</span>
                    </div>
                </div>
            </div>
            <div class="write_message">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio">
                <i class="fas fa-microphone"></i>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>